.card {
  width: 300px;
  display: inline-block;
  margin: 1rem;
  border-radius: 4px;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, .05), 0 1px 2px 0 rgba(0, 0, 0, .2);
  transition: all .2s ease;
  background: #fff;
  position: relative;
  overflow: hidden;

  &:hover,
  &.hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, .3), 0 0 1px 0 rgba(0, 0, 0, .25);

    & .card-content {
      box-shadow: inset 0 3px 0 0 #ccb65e;
      border-color: #ccb65e;
    }

    & .card-img .overlay {
      background-color: rgba(25, 29, 38, .85);
      transition: opacity .2s ease;
      opacity: 1;
    }
  }

  &-img {
    position: relative;
    height: 224px;
    width: 100%;
    background-color: #fff;
    transition: opacity .2s ease;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    & .overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      opacity: 0;

      & .overlay-content {
        line-height: 224px;
        width: 100%;
        text-align: center;
        color: #fff;

        & a {
          color: #fff;
          padding: 0 2rem;
          display: inline-block;
          border: 1px solid rgba(255, 255, 255, .4);
          height: 40px;
          line-height: 40px;
          border-radius: 20px;
          cursor: pointer;
          text-decoration: none;

          &:hover,
          &.hover {
            background: #ccb65e;
            border-color: #ccb65e;
          }
        }
      }
    }
  }

  &-content {
    width: 100%;
    min-height: 104px;
    background-color: #fff;
    border-top: 1px solid #E9E9EB;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 1rem 2rem;
    transition: all .2s ease;

    & a {
      text-decoration: none;
      color: #202927;
    }

    & h2,
    a h2 {
      font-size: 1rem;
      font-weight: 500;
    }

    & p,
    a p {
      font-size: .8rem;
      font-weight: 400;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: rgba(32, 41, 28, .8);
    }
  }
}

.hiddenBtn {
  --bs-btn-color: black;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-border-color:transparent;
  --bs-btn-hover-color:rgb(70, 91, 148);
  --bs-btn-active-bg: #d3d3d3;
  --bs-btn-active-border-color: #ffffff;
  --bs-btn-hover-bg: transparent;
}

$breakpoint-alpha: 480px; // adjust to your needs

.rwd-table {
  margin: 1em 0;
  min-width: 300px; // adjust to your needs
  
  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!   
  }
  
  td {
    display: block; 
    
    &:first-child {
      padding-top: .5em;
    }
    &:last-child {
      padding-bottom: .5em;
    }

    &:before {
      content: attr(data-th)": "; // who knew you could do this? The internet, that's who.
      font-weight: bold;

      // optional stuff to make it look nicer
      width: 6.5em; // magic number :( adjust according to your own content
      display: inline-block;
      // end options
      
      @media (min-width: $breakpoint-alpha) {
        display: none;
      }
    }
  }
  
  th, td {
    text-align: left;
    
    @media (min-width: $breakpoint-alpha) {
      display: table-cell;
      padding: .25em .5em;
      
      &:first-child {
        padding-left: 0;
      }
      
      &:last-child {
        padding-right: 0;
      }
    }

  }
  
  
}


// presentational styling

@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';





.rwd-table {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
  tr {
    border-color: lighten(#34495E, 10%);
  }
  th, td {
    margin: .5em 1em;
    @media (min-width: $breakpoint-alpha) { 
      padding: 1em !important; 
    }
  }
  th, td:before {
    color: #dd5;
  }
}

.center {
  margin-left: auto;
  margin-right: auto;
}